<!-- Header -->            
    <header id="header" class="header clearfix"> 
        <div class="header-wrap clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <div id="logo" class="logo">
                            <%= link_to root_path do %>
                            <%= image_tag('logo.png') %>
                            <% end %>
                        </div><!-- /.logo -->
                        <div class="btn-menu">
                            <span></span>
                        </div><!-- //mobile menu button -->
                    </div><!-- /.col-md-2 -->
                    <div class="col-md-10">
                        <div class="nav-wrap">
                            
                            <nav id="mainnav" class="mainnav">
                                <ul class="menu">
                                    <li><%= link_to 'Courses',home_courses_path %></li>  
                                    <li><a href="#">Pages</a>
                                        <ul class="submenu right-sub-menu"> 
                                            <li><%= link_to 'About us',home_about_us_path %></li>
                                            
                                            <li><%= link_to 'Contact Us',home_contact_us_path %></li>
                                        </ul><!-- /.submenu -->
                                    </li>
                                    <li><%= link_to 'Blog',home_blog_path %></li>
                                </ul><!-- /.menu -->
                            </nav><!-- /.mainnav -->  
                        </div><!-- /.nav-wrap -->
                    </div><!-- /.col-md-10 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
            <div class="show-search">
                <a href="#"><i class="fa fa-search"></i></a>                
            </div><!-- /.show-search -->
            <div class="nav-search">
                <div class="container"> 
                    <div class="col-md-12">
                       <div class="top-search" id="s1">
                            <aside id="search-4" class="widget widget_search">
                                <form role="search" method="get" class="search-form">
                                    <label>
                                        <input type="search" class="search-field" placeholder="Search …" value="" name="s" title="Search for:">
                                    </label>
                                    <input type="submit" class="search-submit" value="Search">
                                </form>
                            </aside>                    
                        </div><!-- /.top-search -->
                    </div>
                </div>
            </div><!-- /.nav-search -->             
        </div><!-- /.header-inner --> 
    </header><!-- /.header -->