 <!-- Boxed -->
    <div class="boxed">

    <%= render 'shelf' %>
    <%= render 'navigation' %>

    <!-- Blog single -->
    <section class="main-content blog-single">        
        <div class="post-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <article class="entry">
                            <div class="feature-post">
                                <%= image_tag('bs1.jpg') %>
                            </div><!-- /.feature-post -->
                            <div class="main-post">
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-2">
                                        <h2 class="title-post"><a href="#">Designing healthcare apps with delight</a></h2>
                                        <div class="meta-post clearfix">
                                            <ul>    
                                                <li class="post-author">
                                                    <span><a href="#">By Charlie Walter</a></span>
                                                </li>                                        
                                                <li class="post-date">November 18th, 2015</li>
                                                <li class="post-categories">
                                                    <a href="#">Graphic</a>,
                                                    <a href="#">Website</a>
                                                </li>
                                            </ul>
                                        </div><!-- /.meta-post -->
                                        <div class="desc">
                                            <p>descripsion</p>
                                        </div>      
                                        <div class="entry-post">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ornare dignissim felis nec malesuada. Nunc fringilla est nec nisi accumsan porta. Praesent non aliquam augue, sed aliquet elit. Nam pretium eu est sed tincidunt. Donec ullamcorper odio vitae felis tempor suscipit tincidunt nec orci. Duis vulputate, nunc id vestibulum imperdiet, dui neque mattis erat, maximus ornare nisi nisi tempor ante.</p>
                                            <p>Cras feugiat sodales arcu. Sed id luctus purus. Aenean tristique risus id sem sollicitudin elementum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam erat volutpat. Mauris viverra quis velit ac lobortis. Donec fringilla rhoncus magna. Maecenas elit lorem, tincidunt non gravida sed, consectetur sed nunc. Suspendisse pretium elit ac viverra faucibus.</p>

                                            <ul>
                                                <li>Pellentesque placerat, ex ac tempor convallis</li>
                                                <li>Orci arcu vulputate sapien, vel pulvinar risus enim at libero. </li>
                                                <li>Vivamus elementum vehicula sapien vitae tincidunt.</li>
                                                <li>Fusce a felis sed leo porttitor cursus</li>
                                            </ul>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ornare dignissim felis nec malesuada. Nunc fringilla est nec nisi accumsan porta. Praesent non aliquam augue, sed aliquet elit. Nam pretium eu est sed tincidunt. Donec ullamcorper odio vitae felis tempor suscipit tincidunt nec orci. Duis vulputate, nunc id vestibulum imperdiet, dui neque mattis erat, maximus ornare nisi nisi tempor ante.</p>
                                        </div><!-- /.entry-post -->
                                        <ul class="flat-socials">
                                            <li>
                                                <a href="#" title="facebook"><i class="fa fa-facebook"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" title="twitter"><i class="fa fa-twitter"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" title="linkedin"><i class="fa fa-linkedin"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" title="google-plus"><i class="fa fa-youtube-play"></i></a>
                                            </li>                                            
                                        </ul>
                                    </div><!-- /.col-md-8 -->
                                </div><!-- /.row -->
                            </div><!-- /.main-post -->
                        </article><!-- /.entry -->
                    </div><!-- /.col-md-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->

            <div class="section-comment">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="author-post">                            
                                <h4 class="title">About author</h4>
                                <article class="author">
                                    <div class="author-avatar">
                                       <%= image_tag('author-avatar.jpg') %>
                                    </div>
                                    <div class="position">
                                        <div class="author-meta">
                                            <h4><a href="#">Michael Windzor</a></h4>
                                            <p>Wed Design Teacher</p>
                                        </div>
                                    </div>
                                    <ul class="flat-socials">
                                        <li>
                                            <a href="#" title="facebook"><i class="fa fa-facebook"></i></a>
                                        </li>
                                        <li>
                                            <a href="#" title="twitter"><i class="fa fa-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a href="#" title="linkedin"><i class="fa fa-linkedin"></i></a>
                                        </li>
                                        <li>
                                            <a href="#" title="google-plus"><i class="fa fa-youtube-play"></i></a>
                                        </li>                                            
                                    </ul>            
                                    <div class="author-detail">
                                        <p class="author-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at eros vitae libero posuere efficitur et vel erat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce lacinia risus metus, quis sodales ipsum aliquam vel. Duis accumsan fringilla justo vel dignissim.</p>
                                    </div>
                                </article><!-- /.comment -->                                
                            </div><!-- /.author-post -->

                            <div class="comment-post">
                                <div class="comment-list-wrap">   
                                    <ul class="comment-list">
                                        <li>
                                            <article class="comment">
                                                <h4 class="title comment-author">Michael windzor</h4>
                                                <div class="comment-avatar">
                                                   <%= image_tag('comment-avatar.jpg') %>
                                                </div>                  
                                                <div class="comment-detail">
                                                    <div class="comment-meta">
                                                        <span class="comment-date"><a href="">3 days ago</a></span> 
                                                        <p>Great Guide to get the job</p>
                                                    </div>
                                                    <p class="comment-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at eros vitae libero posuere efficitur et vel erat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos</p>
                                                </div><!-- /.comment-detail -->
                                            </article><!-- /.comment -->
                                        </li>

                                        <li>
                                            <article class="comment">
                                                <h4 class="title comment-author">Michael windzor</h4>
                                                <div class="comment-avatar">
                                                   <%= image_tag('comment-avatar.jpg') %>
                                                </div>                  
                                                <div class="comment-detail">
                                                    <div class="comment-meta">
                                                        <span class="comment-date"><a href="">3 days ago</a></span> 
                                                    </div>
                                                    <p class="comment-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at eros vitae libero posuere efficitur et vel erat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos</p>
                                                </div><!-- /.comment-detail -->
                                            </article><!-- /.comment -->
                                        </li>
                                    </ul><!-- /.comment-list -->
                                </div><!-- /.comment-list-wrap -->

                                <div id="respond" class="comment-respond">
                                    <h4 class="title comment-title">Add a review</h4>
                                    <form class="flat-contact-form" id="contactform5" method="post" action="./contact/contact-process.php">
                                        <div class="field clearfix">      
                                            <div class="wrap-type-input">                    
                                                <div class="input-wrap name">
                                                    <input type="text" value="" tabindex="1" placeholder="Name" name="name" id="name" required>
                                                </div>
                                                <div class="input-wrap email">
                                                    <input type="email" value="" tabindex="2" placeholder="Email" name="email" id="email-contact" required>
                                                </div> 
                                            </div>
                                            <div class="textarea-wrap">
                                                <textarea class="type-input" tabindex="3" placeholder="Your Review" name="message" id="message-contact" required></textarea>
                                            </div>
                                        </div>
                                        <div class="submit-wrap">
                                            <button>Submit</button>
                                        </div>
                                    </form><!-- /.comment-form -->
                                </div><!-- /#respond -->
                            </div><!-- /.comment-post -->
                        </div><!-- /.col-md-8 -->
                    </div><!-- /.row -->                                               
                </div><!-- /.container -->
            </div><!-- /.section-comment -->
        </div><!-- /.post-wrap -->            
    </section>
       <%= render 'footer' %>  

</div>