<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @teacher.firstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @teacher.lastName %>
</p>

<p>
  <strong>Units:</strong>
  <%= @teacher.units %>
</p>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
