<!DOCTYPE html>
<html>
  <head>
    <title>Iris</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
 
      	   <%= stylesheet_link_tag 'animate', media: 'all' %>
           <%= stylesheet_link_tag 'bootstrap.css.map', media: 'all', 'data-turbolinks-track': 'reload' %>
           <%= stylesheet_link_tag 'colors/color1', media: 'all', 'data-turbolinks-track': 'reload' %>
           <%= stylesheet_link_tag 'colors/color2', media: 'all', 'data-turbolinks-track': 'reload' %>
           <%= stylesheet_link_tag 'colors/color3', media: 'all', 'data-turbolinks-track': 'reload' %>
           <%= stylesheet_link_tag 'colors/color4', media: 'all', 'data-turbolinks-track': 'reload' %>
           <%= stylesheet_link_tag 'colors/color5', media: 'all', 'data-turbolinks-track': 'reload' %>
           <%= stylesheet_link_tag 'colors/color6', media: 'all', 'data-turbolinks-track': 'reload' %>
           <%= stylesheet_link_tag 'colors/color7', media: 'all', 'data-turbolinks-track': 'reload' %>
           <%= stylesheet_link_tag 'colors/color8', media: 'all', 'data-turbolinks-track': 'reload' %>
           <%= stylesheet_link_tag 'flexslider', media: 'all', 'data-turbolinks-track': 'reload' %>
           <%= stylesheet_link_tag 'font-awesome', media: 'all', 'data-turbolinks-track': 'reload' %>
           <%= stylesheet_link_tag 'icomoon', media: 'all', 'data-turbolinks-track': 'reload' %>
           <%= stylesheet_link_tag 'magnific-popup', media: 'all', 'data-turbolinks-track': 'reload' %>
           <%= stylesheet_link_tag 'owl.carousel', media: 'all', 'data-turbolinks-track': 'reload' %>
           <%= stylesheet_link_tag 'responsive', media: 'all', 'data-turbolinks-track': 'reload' %>
           <%= stylesheet_link_tag 'revolution-slider', media: 'all', 'data-turbolinks-track': 'reload' %>
           <%= stylesheet_link_tag 'shortcodes', media: 'all', 'data-turbolinks-track': 'reload' %>
           <%= stylesheet_link_tag 'style', media: 'all', 'data-turbolinks-track': 'reload' %>
           <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> 
  </head>

 <body class="header-sticky"> 
    <%= yield %>
  </body>
</html>