<!DOCTYPE html>
<html>
  <head>
    <title>Iris</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <title>Iris College</title>

        <meta name="author" content="dankibiwott254@gmail.com">
        <!-- Mobile Specific Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
           
        <%= javascript_include_tag 'active_admin', 'data-turbolinks-track': 'reload' %>
        <!-- Javascript -->
           <script type="text/javascript" src="/assets/jquery.min.js" data-turbolinks-track="reload"></script>
           <script type="text/javascript" src="/assets/bootstrap.min.js" data-turbolinks-track="reload"></script>
           <script type="text/javascript" src="/assets/jquery.easing.js" data-turbolinks-track="reload"></script> 
           <script type="text/javascript" src="/assets/imagesloaded.min.js" data-turbolinks-track="reload"></script>
           <script type="text/javascript" src="/assets/jquery.isotope.min.js" data-turbolinks-track="reload"></script>
           <script type="text/javascript" src="/assets/owl.carousel.js" data-turbolinks-track="reload"></script> 
           <script type="text/javascript" src="/assets/jquery.mb.YTPlayer.js" data-turbolinks-track="reload"></script>    
           <script type="text/javascript" src="/assets/jquery-waypoints.js" data-turbolinks-track="reload"></script>
           <script type="text/javascript" src="/assets/jquery.flexslider-min.js" data-turbolinks-track="reload"></script>     
           <script type="text/javascript" src="/assets/jquery.cookie.js" data-turbolinks-track="reload"></script>
           <script type="text/javascript" src="/assets/jquery.fitvids.js" data-turbolinks-track="reload"></script> 
           <script type="text/javascript" src="/assets/jquery-validate.js" data-turbolinks-track="reload"></script>
           <script type="text/javascript" src="/assets/jquery.magnific-popup.min.js" data-turbolinks-track="reload"></script> 
           <script type="text/javascript" src="/assets/parallax.js" data-turbolinks-track="reload"></script>
           <script type="text/javascript" src="/assets/jquery.countdown.js" data-turbolinks-track="reload"></script>
           <script type="text/javascript" src="/assets/jquery.sticky.js" data-turbolinks-track="reload"></script>   
           <script type="text/javascript" src="/assets/smoothscroll.js" data-turbolinks-track="reload"></script>
           <script type="text/javascript" src="/assets/main.js" data-turbolinks-track="reload"></script>

           <!-- Revolution Slider -->
           <script type="text/javascript" src="/assets/jquery.themepunch.tools.min.js"></script>
           <script type="text/javascript" src="/assets/jquery.themepunch.revolution.min.js"></script>
           <script type="text/javascript" src="/assets/slider.js"></script>
           <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

 <body class="header-sticky"> 
    <%= yield %>
  </body>
</html>