<!DOCTYPE html>
<html>
  <head>
    <title>Iris</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
 
     <%= stylesheet_link_tag '/assets/animate', media: 'all', 'data-turbolinks-track': 'reload' %>
     <%= stylesheet_link_tag '/assets/bootstrap.css.map', media: 'all', 'data-turbolinks-track': 'reload' %>
     <%= stylesheet_link_tag '/assets/colors/color1', media: 'all', 'data-turbolinks-track': 'reload' %>
     <%= stylesheet_link_tag '/assets/colors/color2', media: 'all', 'data-turbolinks-track': 'reload' %>
     <%= stylesheet_link_tag '/assets/colors/color3', media: 'all', 'data-turbolinks-track': 'reload' %>
     <%= stylesheet_link_tag '/assets/colors/color4', media: 'all', 'data-turbolinks-track': 'reload' %>
     <%= stylesheet_link_tag '/assets/colors/color5', media: 'all', 'data-turbolinks-track': 'reload' %>
     <%= stylesheet_link_tag '/assets/colors/color6', media: 'all', 'data-turbolinks-track': 'reload' %>
     <%= stylesheet_link_tag '/assets/colors/color7', media: 'all', 'data-turbolinks-track': 'reload' %>
     <%= stylesheet_link_tag '/assets/colors/color8', media: 'all', 'data-turbolinks-track': 'reload' %>
     <%= stylesheet_link_tag '/assets/flexslider', media: 'all', 'data-turbolinks-track': 'reload' %>
     <%= stylesheet_link_tag '/assets/font-awesome', media: 'all', 'data-turbolinks-track': 'reload' %>
     <%= stylesheet_link_tag '/assets/icomoon', media: 'all', 'data-turbolinks-track': 'reload' %>
     <%= stylesheet_link_tag '/assets/magnific-popup', media: 'all', 'data-turbolinks-track': 'reload' %>
     <%= stylesheet_link_tag '/assets/owl.carousel', media: 'all', 'data-turbolinks-track': 'reload' %>
     <%= stylesheet_link_tag '/assets/responsive', media: 'all', 'data-turbolinks-track': 'reload' %>
     <%= stylesheet_link_tag '/assets/revolution-slider', media: 'all', 'data-turbolinks-track': 'reload' %>
     <%= stylesheet_link_tag '/assets/shortcodes', media: 'all', 'data-turbolinks-track': 'reload' %>
     <%= stylesheet_link_tag '/assets/style', media: 'all', 'data-turbolinks-track': 'reload' %>
     <%= stylesheet_link_tag '/assets/application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> 
  </head>

 <body class="header-sticky"> 
    <%= yield %>
  </body>
</html>